<template>
    <div>
        <heart-rating v-model="rating"></heart-rating>
        <div>Currently Selected: {{rating}}</div>
        <div><a href="#" @click.prevent="rating = 0">Reset Rating</a></div>
    </div>
</template>

<script type="text/javascript">
    import {HeartRating} from 'vue-rate-it';

    export default{
        components: {
            HeartRating
        },
        data(){
            return {
                rating: 3
            }
        }
    }
</script>