/* GOOGLE FONTS */
@import url(https://fonts.googleapis.com/css?family=Roboto:500,900italic,900,400italic,100,700italic,300,700,500italic,100italic,300italic,400);
@import url(https://fonts.googleapis.com/css?family=Finger+Paint);
@import url(https://fonts.googleapis.com/css?family=Cabin+Sketch:400,700);

/* Global properties ======================================================== */
a[href^="tel:"] {
    color: inherit;
    text-decoration: none;
}

::selection {
    background: #00a8ff !important;
    color: #fff
}

::-moz-selection {
    background: #00a8ff !important;
    color: #fff
}

a {
    color: #5e5e5e;
    text-decoration: underline;
    outline: none
}

a:hover {
    color: #5e5e5e;
    text-decoration: none;
    outline: none
}

body {
    background: #fff;
    border: 0;
    font: 14px 'Roboto', Arial, Helvetica, sans-serif;
    color: #5e5e5e;
    line-height: 20px;
    min-width: 320px;
}

label, th {
    font-family: 'Finger Paint', serif;
}

.container {
    position: relative;
    min-width: 320px;
}

#main {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

/* Page Animated item Styles */
.animated {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.alert-tooltip {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
}

/* ============================= header ====================== */
.top_wrapper {
    position: relative;
}

.top_bg {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.top_content {
    position: relative;
    padding-bottom: 80px;
}

.sky1 {
    width: 100%;
    height: 746px;
    display: block;
}

.sky2 {
    width: 100%;
    height: 256px;
    display: block;
}

.grass1 {
    width: 100%;
    height: 2000px;
    background: url(../images/grass1.jpg) center top repeat-x #4d7f00;
}

.sun1 {
    width: 401px;
    height: 305px;
    background: url(../images/sun1.png) right top no-repeat;
    position: absolute;
    right: 50px;
    top: 20px;
}

.green1 {
    width: 491px;
    height: 347px;
    background: url(../images/green1.png) right top no-repeat;
    position: absolute;
    right: 0;
    top: 0;
}

.green2 {
    width: 295px;
    height: 207px;
    background: url(../images/green2.png) right top no-repeat;
    position: absolute;
    right: 0;
    top: 0;
}

header {
    padding-top: 40px;
    padding-bottom: 45px;
    text-align: center;
}

.logo {
    display: inline-block;
}

.snail1_wrapper {
    margin-top: -100px;
    position: relative;
}

.not-front .snail1_wrapper {
    margin-top: 0;
}

.snail1_wrapper img {
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.not-front .snail1_wrapper img {
    width: 380px;
}

.snail1_wrapper .tree1 {
    position: absolute;
    width: 100%;
    height: 100%;
}

.snail1_wrapper .snail1 {
    position: relative;
}

.slogan1 {
    text-align: center;
    font-family: 'Cabin Sketch', fantasy;
    font-size: 60px;
    line-height: 1;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    padding-top: 30px;
}

.slogan2 {
    text-align: center;
    font-family: 'Finger Paint', fantasy;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    font-weight: 400;
    padding-top: 30px;
}

/* ============================= team ====================== */
#team_wrapper {
    position: relative;
    padding-top: 40px;
}

#team {
    position: relative;
    padding-bottom: 80px;
}

.team_prev {
    display: block;
    width: 34px;
    height: 34px;
    background: url(../images/prev.png) left top no-repeat;
    position: absolute;
    left: 50%;
    margin-left: -40px;
    bottom: 0;
    z-index: 10;
}

.team_prev:hover {
    background-position: bottom;
}

.team_next {
    display: block;
    width: 34px;
    height: 34px;
    background: url(../images/next.png) left top no-repeat;
    position: absolute;
    left: 50%;
    bottom: 0;
    z-index: 10;
}

.team_next:hover {
    background-position: bottom;
}

#team .carousel-box {
    position: relative;
}

#team .carousel-box .inner {
    position: relative;
    overflow: hidden;
    max-width: none;
    margin: 0;
}

#team .carousel.main {
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0 -30px 0 0;
}

#team .caroufredsel_wrapper {
    padding: 0;
    margin: 0;
}

#team .caroufredsel_wrapper ul {
    padding: 0;
    margin: 0;
}

#team .carousel-box ul li {
    float: left;
    display: inline-block;
    position: relative;
    width: 300px;
    overflow: hidden;
    padding: 0 30px 0 0;
}

.team {
}

.team .team_inner {
}

.team .team_inner a {
    display: block;
    text-decoration: none;
    position: relative;
    background: none;
    padding: 0;
    text-align: left;
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

.team .team_inner a:hover {
    background: none;
}

.team .team_inner a figure {
    margin: 0;
    padding: 0;
    position: relative;
    border: none;
    background: none;
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

.team .team_inner a:hover figure {
    background: none;
}

.team .team_inner a figure img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
}

.team .team_inner a figure em {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    background: none;
    opacity: 0;
    filter: alpha(opacity=0);
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

.team .team_inner a:hover figure em {
    opacity: 1;
    filter: alpha(opacity=100);
}

.team .team_inner a .caption {
    padding: 20px;
    text-align: center;
    background: #fff;
    border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

.team .team_inner a:hover .caption {
}

.team .team_inner a .txt1 {
    font-family: 'Finger Paint', fantasy;
    font-size: 28px;
    color: #00a8ff;
    padding-top: 10px;
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

.team .team_inner a:hover .txt1 {
    color: #00a8ff;
}

.team .team_inner a .txt2 {
    color: #5e5e5e;
    padding-top: 15px;
    padding-bottom: 20px;
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

.team .team_inner a:hover .txt2 {
    color: #000;
}

.team .team_inner a .txt3 {
    display: inline-block;
    color: #a5a5a5;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    padding: 4px 15px;
    text-transform: uppercase;
    background: #fff;
    border: 1px solid #dedede;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

.team .team_inner a:hover .txt3 {
    color: #fff;
    background: #00a8ff;
    border-color: #00a8ff;
}

/* ============================= team end ====================== */

.splash_wrapper {
    padding-top: 70px;
    padding-bottom: 70px;
}

.page_title {
    text-align: center;
    font-family: 'Cabin Sketch', fantasy;
    font-size: 60px;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    padding-top: 25px;
    text-shadow: 1px 1px 2px #000;
}

/* ============================= content ====================== */
#content {
    position: relative;
    background: #fff;
    padding-top: 35px;
    padding-bottom: 90px;
}

.breadcrumbs1_wrapper {
    padding-bottom: 20px;
}

.breadcrumbs1 {
    padding: 0;
    margin-top: 0;
    font-weight: 400;
    line-height: 20px;
    color: #a8d7f5;
    background: none;
    font-family: 'Finger Paint', cursive;
    font-size: 16px;
}

.in-page .breadcrumbs1 {
    font-family: 'Roboto', serif;
}

.breadcrumbs1 a {
    color: #00a8ff;
    text-decoration: underline;
}

.in-page .breadcrumbs1 a {
    text-decoration: none;
    padding: 0 12px;
}

.breadcrumbs1 a:hover {
    color: #00a8ff;
    text-decoration: none;
}

.breadcrumbs1 span {
    display: inline-block;
    width: 16px;
    height: 14px;
    background: url(../images/breadcrumbs1.png) 0 0 no-repeat;
    margin: 0 20px;
}

/* ============================= footer ====================== */

.bot1_wrapper {
    background: #182f4a;
    padding-top: 40px;
    padding-bottom: 60px;
    color: #a4aec4;
    font-size: 13px;
    line-height: 24px;
    text-transform: uppercase;
}

.bot1_wrapper a {
    color: #a4aec4;
}

.bot1_wrapper a:hover {
    color: #fff;
}

.logo2_wrapper {
    text-align: center;
    padding-bottom: 20px;
}

.logo2 {
    display: inline-block;
}

.bot1_title {
    padding-top: 25px;
    padding-bottom: 15px;
    font-weight: 700;
}

.social_wrapper {
}

.social {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

.social li {
    display: inline-block;
    margin: 0 10px 10px 0;
}

.social li a {
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

.social li a:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
}

.bot2_wrapper {
    background: #102135;
    padding: 40px 0;
    text-align: center;
    color: #919db4;
}

.bot2_wrapper a {
    color: #919db4;
}

.bot2_wrapper a:hover {
    color: #fff;
}

/* ============================= parallax ====================== */
.parallax {
    width: 100%;
    position: relative;
    overflow: hidden;
    background: none;
}

.parallax, .parallax .parallax-content, .parallax .overlay {
    height: 100%;
}

.parallax-bg {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin: 0 auto;
    position: absolute;
    background-size: cover;
    background: repeat-y scroll center center;
}

.parallax-bg.bg-fixed {
    background-attachment: fixed;
}

.parallax .overlay {
    background: none;
    width: 100%;
    position: absolute;
    overflow: hidden;
}

.parallax-content {
    padding-top: 0;
    padding-bottom: 0;
}

.bg1 {
    background-image: url(../images/parallax1.jpg);
}

#parallax1 {
    padding-top: 90px;
    padding-bottom: 130px;
    text-align: center;
    color: #fff;
}

#parallax1 .txt1 {
    font-family: 'Cabin Sketch', fantasy;
    font-size: 160px;
    line-height: 1.1;
    font-weight: 700;
}

#parallax1 .txt2 {
    font-family: 'Cabin Sketch', fantasy;
    font-size: 90px;
    line-height: 1.1;
    font-weight: 700;
}

.wave1 {
    background: url(../images/wave1.png) 0 0 repeat-x;
}

.wave2 {
    background: url(../images/wave2.png) 0 0 repeat-x;
}

.wave1, .wave2 {
    height: 30px;
    position: absolute;
    width: 100%;
    z-index: 12;
    left: 0;
    bottom: 0;
}

.wave1 {
    -webkit-animation: wave-animation1 8.7s infinite linear; /* Safari 4+ */
    -moz-animation: wave-animation1 8.7s infinite linear; /* Fx 5+ */
    -o-animation: wave-animation1 8.7s infinite linear; /* Opera 12+ */
    animation: wave-animation1 8.7s infinite linear; /* IE 10+ */
}

.wave2 {
    -webkit-animation: wave-animation1 6.3s infinite linear; /* Safari 4+ */
    -moz-animation: wave-animation1 6.3s infinite linear; /* Fx 5+ */
    -o-animation: wave-animation1 6.3s infinite linear; /* Opera 12+ */
    animation: wave-animation1 6.3s infinite linear; /* IE 10+ */
}

@-webkit-keyframes wave-animation1 {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 1601px 0;
    }
}

@-moz-keyframes wave-animation1 {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 1601px 0;
    }
}

@-o-keyframes wave-animation1 {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 1601px 0;
    }
}

@keyframes wave-animation1 {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 1601px 0;
    }
}

/* ============================= main menu ====================== */
.menu_wrapper {
    text-align: center;
}

.navbar_ {
    margin: 0;
    background: none;
    border: none;
    position: relative;
    z-index: 30;
    min-height: 0;
    float: none;
    display: inline-block;
    padding: 0;
}

.navbar_ .navbar-toggle {
    background: #f84828;
    border: none;
    box-shadow: none;
    moz-box-shadow: none;
    -webkit-box-shadow: none;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    width: 42px;
    float: none;
}

.navbar_ .navbar-toggle:hover, .navbar_ .navbar-toggle:focus {
    background: #ae2e17;
}

.navbar_ .navbar-toggle .icon-bar {
    background: #fff;
}

.navbar-collapse_ {
    padding-left: 0;
    padding-right: 0;
    border: none;
}

.navbar_ .nav {
    position: relative;
    margin: 0;
    padding: 0;
    display: block;
    float: none;
}

.navbar_ .nav > li {
    position: relative;
    display: block;
    float: left;
    white-space: nowrap;
    margin-left: 25px;
    background: none;
}

.navbar_ .nav > li:first-child {
    margin-left: 0;
}

.navbar_ .nav > li > a {
    display: block;
    text-decoration: none;
    background: none;
    font-family: 'Finger Paint', fantasy;
    font-weight: 400;
    font-size: 16px;
    line-height: 47px;
    color: #fff;
    text-shadow: none;
    padding: 0 40px;
    border: none;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    text-align: left;
    margin: 5px 0;
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

.navbar_ .nav > li > a:hover, .navbar_ .nav > li > a:focus, .navbar_ .nav > li.sfHover > a, .navbar_ .nav > li.sfHover > a:hover {
    color: #fff;
    text-decoration: none;
    background: none;
    box-shadow: none;
    moz-box-shadow: none;
    -webkit-box-shadow: none;
    line-height: 57px;
    margin-top: 0;
    margin-bottom: 0;
}

.navbar_ .nav > li.active > a, .navbar_ .nav > li.active > a:hover, .navbar_ .nav > li.active > a:focus {
    color: #fff;
    text-decoration: none;
    background: none;
    box-shadow: none;
    moz-box-shadow: none;
    -webkit-box-shadow: none;
    line-height: 57px;
    margin-top: 0;
    margin-bottom: 0;
}

.navbar_ .nav > li.nav1 > a, .navbar_ .nav > li.nav1.sub-menu ul {
    background: #f84828 !important;
}

.navbar_ .nav > li.nav2 > a, .navbar_ .nav > li.nav2.sub-menu ul {
    background: #f9800d !important;
}

.navbar_ .nav > li.nav3 > a, .navbar_ .nav > li.nav3.sub-menu ul {
    background: #ffcc00 !important;
}

.navbar_ .nav > li.nav4 > a, .navbar_ .nav > li.nav4.sub-menu ul {
    background: #9cca00 !important;
}

.navbar_ .nav > li.nav5 > a, .navbar_ .nav > li.nav5.sub-menu ul {
    background: #00cf88 !important;
}

.navbar_ .nav > li.nav6 > a, .navbar_ .nav > li.nav6.sub-menu ul {
    background: #00a8ff !important;
}

.navbar_ .nav > li.nav7 > a, .navbar_ .nav > li.nav6.sub-menu ul {
    background: crimson !important;
}

.sub-menu ul {
    position: absolute;
    display: none;
    left: 0;
    top: 100%;
    list-style: none;
    padding: 10px 0;
    background: none;
    text-align: left;
    border: none;
    margin: 5px 0 0;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.sub-menu li {
    margin: 0;
    position: relative;
    display: block;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
}

.sub-menu li:first-child {
    border-top: none;
}

.sub-menu li a {
    display: block;
    position: relative;
    font-family: 'Roboto', serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    text-decoration: none;
    padding: 5px 25px 5px 25px;
    background: none;
    opacity: 0.7;
    filter: alpha(opacity=70);
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

.sub-menu li a:hover {
    text-decoration: none;
    color: #fff;
    background: none;
    opacity: 1;
    filter: alpha(opacity=100);
}

.sub-menu-1 > ul {
}

.sub-menu-2 > ul {
    left: 100%;
    top: 0;
    margin-left: 0;
    background: #fff;
}

/* ============================= search-form ====================== */
.search-form-wrapper {
    padding-bottom: 0;
}

.navbar-form {
    float: none;
    position: relative;
    z-index: 11;
    margin: 11px 0 0 0;
    padding: 0;
}

.navbar-form input {
    width: 100%;
    height: auto;
    font-size: 14px;
    line-height: 20px;
    color: #717172;
    background: #fff;
    border: 1px solid #cdcdcd;
    margin: 0;
    padding: 10px 50px 10px 10px;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.navbar-form input:focus {
    color: #000;
    background: #fff;
    border-color: #717172;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-form a {
    text-decoration: none;
    margin: 0;
    display: inline-block;
    width: 42px;
    height: 28px;
    background: url(../images/search.png) left top no-repeat;
    position: absolute;
    right: 0;
    top: 7px;
}

.navbar-form a:hover {
    background-position: right;
}

/* ============================= toTop ====================== */
#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
    overflow: hidden;
    width: 50px;
    height: 50px;
    border: none;
    text-indent: 100%;
    background: url(../images/totop.gif) no-repeat left top;
}

#toTopHover {
    background: url(../images/totop.gif) no-repeat left bottom;
    width: 50px;
    height: 50px;
    display: block;
    overflow: hidden;
    float: left;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}

#toTop:active, #toTop:focus {
    outline: none;
}

/* ============================= main layout ====================== */

h1 {
    font-family: 'Cabin Sketch', serif;
    font-weight: 700;
    font-size: 50px;
    color: #00a8ff;
    background: none;
    line-height: 1;
    padding: 20px 0 30px;
    margin: 0 0 0 0;
    position: relative;
    text-transform: uppercase;
}

h2 {
    font-family: 'Cabin Sketch', serif;
    font-weight: 700;
    font-size: 36px;
    color: #00a8ff;
    background: none;
    line-height: 1;
    padding: 20px 0 20px;
    margin: 0 0 20px 0;
    position: relative;
    text-transform: uppercase;
    border-bottom: 4px solid #f5f8f3;
}

h2.c {
    color: #f84828;
}

h3 {
    font-family: 'Finger Paint', serif;
    font-weight: 400;
    font-size: 28px;
    color: #00a8ff;
    background: none;
    line-height: 1;
    padding: 0 0 15px;
    margin: 0 0 0 0;
    position: relative;
}

h6 {
    font-family: 'Finger Paint', serif;
    font-weight: 400;
    font-size: 18px;
    color: #00a8ff;
    line-height: 24px;
    padding: 0 0 10px 0;
    margin: 0;
}

.img-responsive {
    width: auto \9;
}

.img-responsive-old {
    display: block;
    max-width: 100%;
    height: auto;
}

.border-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.color1 {
    color: #343642;
}

/* === */

.ul1 {
    margin: 0;
    list-style: none;
    padding: 0 0 0;
}

.ul1 > li {
    font-weight: 400;
    font-family: 'Finger Paint', cursive;
    font-size: 16px;
    color: #5e5e5e;
    line-height: 24px;
    padding: 6px 0;
}

.ul1 > li i {
    color: #f84828;
    font-size: 24px;
    float: left;
    padding-right: 10px;
    width: 50px;
    text-align: center;
}

.ul1 > li span {
    display: table;
}

.google_map {
    position: relative;
    overflow: hidden;
    margin: 0 0 20px 0;
    padding: 0;
    background: #fff;
    border: none;
    line-height: 1px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.google_map iframe {
    width: 100%;
    height: 440px;
    border: none;
    background: #fff;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

/*-----btn-----*/

.modal-footer .btn + .btn{
    margin-bottom: 10px;
}
.btn {
    font-family: 'Finger Paint', serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    padding: 15px 80px 15px 40px;
    text-decoration: none;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
    position: relative;
}

.btn:hover {
    color: #fff;
    text-align: center;
}

.btn-default {
    box-shadow: 0 6px #777;
    moz-box-shadow: 0 6px #777;
    -webkit-box-shadow: 0 6px #777;
}

.btn-default:hover {
    box-shadow: 0 4px #333;
    moz-box-shadow: 0 4px #333;
    -webkit-box-shadow: 0 4px #333;
    top: 2px;
    color: black;
}

.btn-primary {
    box-shadow: 0 6px #0072bf;
    moz-box-shadow: 0 6px #0072bf;
    -webkit-box-shadow: 0 6px #0072bf;
}

.btn-primary:hover {
    box-shadow: 0 4px #0082cf;
    moz-box-shadow: 0 4px #0082cf;
    -webkit-box-shadow: 0 4px #0082cf;
    top: 2px;
}

.btn-success {
    box-shadow: 0 6px #4ca84c;
    moz-box-shadow: 0 6px #4ca84c;
    -webkit-box-shadow: 0 6px #4ca84c;
}

.btn-success:hover {
    box-shadow: 0 4px #3c983c;
    moz-box-shadow: 0 4px #3c983c;
    -webkit-box-shadow: 0 4px #3c983c;
    top: 2px;
}

.btn-default.btn0 {
    display: inline-block;
    color: #fff;
    border: none;
    box-shadow: 0 6px #0072bf;
    moz-box-shadow: 0 6px #0072bf;
    -webkit-box-shadow: 0 6px #0072bf;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    padding: 15px 80px 15px 40px;
    text-decoration: none;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    background: #00a8ff;
    position: relative;
}

.btn-default.btn0:hover {
    color: #fff;
    background: #00c6ff;
    box-shadow: 0 4px #0086bf;
    moz-box-shadow: 0 4px #0086bf;
    -webkit-box-shadow: 0 4px #0086bf;
    top: 2px;
}

.btn-default.btn0:after {
    display: block;
    content: '';
    width: 17px;
    height: 7px;
    position: absolute;
    right: 45px;
    top: 50%;
    margin-top: -4px;
    background: url(../images/arr1.png) center center no-repeat;
}

.btn-default.btn1 {
    display: inline-block;
    color: #fff;
    border: none;
    box-shadow: 0 6px #0072bf;
    moz-box-shadow: 0 6px #0072bf;
    -webkit-box-shadow: 0 6px #0072bf;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    padding: 15px 80px 15px 40px;
    text-decoration: none;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
    background: #00a8ff;
    position: relative;
}

.btn-default.btn1:hover {
    color: #fff;
    background: #00c6ff;
    box-shadow: 0 4px #0086bf;
    moz-box-shadow: 0 4px #0086bf;
    -webkit-box-shadow: 0 4px #0086bf;
    top: 2px;
}

.btn-default.btn1:after {
    display: block;
    content: '';
    width: 17px;
    height: 7px;
    position: absolute;
    right: 45px;
    top: 50%;
    margin-top: -4px;
    background: url(../images/arr1.png) center center no-repeat;
}

.btn-default.btn2 {
    display: inline-block;
    color: #a5a5a5;
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
    padding: 4px 20px;
    text-decoration: none;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #fff;
    border: 1px solid #dedede;
    text-transform: uppercase;
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

.btn-default.btn2:hover {
    color: #fff;
    background: #00a8ff;
    border-color: #00a8ff;
}

/* ============================= thumbnail ====================== */
.img-polaroid {
    position: relative;
    padding: 0;
    background: none;
    border: none;
    box-shadow: none;
    moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.img-polaroid img {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.img-circle {
    position: relative;
    padding: 0;
    background: none;
    border: none;
    box-shadow: none;
    moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.img-circle img {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.thumbnail .caption {
    padding: 0;
    color: inherit;
}

.thumb1 {
    margin-bottom: 20px;
}

.thumb1.last {
    margin-bottom: 0;
}

.thumb1 .thumbnail {
    padding: 0;
    border: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    box-shadow: none;
    moz-box-shadow: none;
    -webkit-box-shadow: none;
    margin-bottom: 0;
    background: none;
}

.thumb1 figure {
    float: none;
    margin: 0;
}

.thumb1 figure img {
    width: 100%;
}

.thumb1 .caption {
}

.thumb2 {
    margin-bottom: 20px;
}

.thumb2.last {
    margin-bottom: 0;
}

.thumb2 .thumbnail {
    padding: 0;
    border: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    box-shadow: none;
    moz-box-shadow: none;
    -webkit-box-shadow: none;
    margin-bottom: 0;
    background: none;
}

.thumb2 figure {
    float: left;
    margin: 0 20px 20px 0;
}

.thumb2 figure img {
    width: auto;
}

.thumb2 .caption {
}

.thumb3 {
    margin-bottom: 20px;
}

.thumb3.last {
    margin-bottom: 0;
}

.thumb3 .thumbnail {
    padding: 0;
    border: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    box-shadow: none;
    moz-box-shadow: none;
    -webkit-box-shadow: none;
    margin-bottom: 0;
    background: none;
}

.thumb3 .thumbnail a {
    display: block;
    text-decoration: none;
}

.thumb3 .thumbnail a figure {
    float: none;
    margin: 0;
}

.thumb3 .thumbnail a figure img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
}

.thumb3 .thumbnail a .caption {
    background: #ececec;
    padding: 20px;
    text-align: center;
    border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

.thumb3 .thumbnail a:hover .caption {
    background: #f84828;
}

.thumb3 .thumbnail a .caption .txt1 {
    font-family: 'Finger Paint', cursive;
    font-size: 22px;
    color: #f84828;
    line-height: 1.2;
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

.thumb3 .thumbnail a:hover .caption .txt1 {
    color: #fff;
}

.thumb3 .thumbnail a .caption .txt2 {
    color: #5e5e5e;
    padding-top: 7px;
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

.thumb3 .thumbnail a:hover .caption .txt2 {
    color: #fff;
}

.thumb4 {
    margin-bottom: 20px;
}

.thumb4.last {
    margin-bottom: 0;
}

.thumb4 .thumbnail {
    padding: 0;
    border: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    box-shadow: none;
    moz-box-shadow: none;
    -webkit-box-shadow: none;
    margin-bottom: 0;
    background: none;
}

.thumb4 figure {
    float: none;
    margin: 0 0 20px 0;
}

.thumb4 figure img {
    width: 100%;
}

.thumb4 .caption {
}

/*================= Contacts =========================*/
#note {
}

.notification_error {
    color: #f00;
    padding-bottom: 10px;
}

.notification_ok {
    text-align: left;
    padding-bottom: 10px;
}

#ajax-contact-form .form-group {
    margin-left: 0;
    margin-right: 0;
}

#ajax-contact-form .form-group label {
    color: #d4d5d6;
    display: none;
}

.form-control {
    height: 38px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 20px;
    color: #468;
    background: #fff;
    border: 1px solid #e2e2e2;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

#ajax-contact-form .form-control:focus {
    border-color: #1eb2ff;
    background: #fff;
    color: #343642;
}

#ajax-contact-form textarea.form-control {
    height: auto;
}

#ajax-contact-form .form-group.capthca {
    float: left;
    margin-right: 30px;
}

#ajax-contact-form .form-group.capthca input {
    width: 170px;
}

#ajax-contact-form .form-group.img {
    float: left;
}

#ajax-contact-form .form-group.img img {
    width: 170px;
    height: 38px;
}

.btn-default.btn-cf-submit {
    display: inline-block;
    color: #fff;
    border: none;
    box-shadow: 0 6px #0072bf;
    moz-box-shadow: 0 6px #0072bf;
    -webkit-box-shadow: 0 6px #0072bf;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    padding: 15px 80px 15px 40px;
    text-decoration: none;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
    background: #00a8ff;
    position: relative;
}

.btn-default.btn-cf-submit:hover {
    color: #fff;
    background: #00c6ff;
    box-shadow: 0 4px #0086bf;
    moz-box-shadow: 0 4px #0086bf;
    -webkit-box-shadow: 0 4px #0086bf;
    top: 2px;
}

.btn-default.btn-cf-submit:after {
    display: block;
    content: '';
    width: 17px;
    height: 7px;
    position: absolute;
    right: 45px;
    top: 50%;
    margin-top: -4px;
    background: url(../images/arr1.png) center center no-repeat;
}

/*================= 404 =========================*/
.page-404 {
    text-align: center;
}

.page-404 .txt1 {
    font-family: 'Cabin Sketch', fantasy;
    font-weight: 700;
    font-size: 180px;
    color: #343642;
    line-height: 220px;
}

.page-404 .txt2 {
    font-family: 'Finger Paint', fantasy;
    font-weight: 400;
    font-size: 60px;
    color: #343642;
    line-height: 70px;
}

/*----- media queries ------*/
/* Large desktop */
@media (min-width: 1220px) {
    .container {
        padding: 0;
    }

}

/* Default landscape and desktop to large desktop */
@media (max-width: 1219px) {
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 30px;
    }

    #parallax1 .txt1 {
        font-size: 120px;
    }

    #parallax1 .txt2 {
        font-size: 80px;
    }

    .green1 {
        background-size: 90%;
    }

    .green2 {
        background-size: 95%;
    }

    .sun1 {
        background-size: 90%;
    }

}

@media (max-width: 1200px) {
    .sky1 {
        height: 646px;
    }

}

@media (min-width: 992px) and (max-width: 1219px) {
    .navbar_ .nav > li > a {
        padding-left: 20px;
        padding-right: 20px;
    }

}

/* Portrait tablet to landscape and desktop */
@media (max-width: 991px) {
    .sky1 {
        height: 546px;
    }

    .snail1_wrapper {
        margin-top: -50px;
    }

    .snail1_wrapper img {
        width: 400px;
    }

    .slogan1 {
        font-size: 30px;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 25px;
    }

    #parallax1 .txt1 {
        font-size: 90px;
    }

    #parallax1 .txt2 {
        font-size: 60px;
    }

    .green1 {
        background-size: 75%;
    }

    .green2 {
        background-size: 80%;
    }

    .sun1 {
        background-size: 75%;
    }

}

@media (min-width: 768px) and (max-width: 991px) {
    .navbar_ .nav > li {
        margin-left: 5px;
    }

    .navbar_ .nav > li > a {
        padding-left: 15px;
        padding-right: 15px;
    }

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    .sky1 {
        height: 416px;
    }

    .slogan1 {
        font-size: 30px;
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 20px;
    }

    #parallax1 .txt1 {
        font-size: 40px;
    }

    #parallax1 .txt2 {
        font-size: 30px;
    }

    .green1 {
        background-size: 50%;
    }

    .green2 {
        background-size: 65%;
    }

    .sun1 {
        background-size: 50%;
    }

    .navbar_ {
        float: none;
        margin-bottom: 0;
        margin-left: -15px;
        margin-right: -15px;
        display: block;
        height: 52px;
        padding-right: 0;
        background: none;
    }

    .navbar-collapse_ {
        clear: both;
    }

    .navbar_ .nav {
        display: block;
        background: none;
        padding-right: 0;
    }

    .navbar_ .nav > li {
        float: none;
        background: none;
        padding-left: 0;
        border-top: none;
        margin-left: 0;
    }

    .navbar_ .nav > li:first-child {
        border-top: none;
    }

    .navbar_ .nav > li > a {
        margin-bottom: 0;
        margin-top: 0;
        padding: 0;
        text-align: center;
    }

    .navbar_ .nav > li.active > a, .navbar_ .nav > li.active > a:hover, .navbar_ .nav > li.active > a:focus, .navbar_ .nav > li > a:hover, .navbar_ .nav > li > a:focus, .navbar_ .nav > li.sfHover > a, .navbar_ .nav > li.sfHover > a:hover {
        margin: 0;
        padding-top: 0;
        color: #fff;
    }

    .sub-menu ul {
        position: relative;
        left: 0;
        top: 0;
        text-align: center;
        box-shadow: none;
        moz-box-shadow: none;
        -webkit-box-shadow: none;
        background: #f3f3f3;
        margin-top: 0;
    }

    .sub-menu li a {
    }

}

@media (min-width: 481px) and (max-width: 767px) {

}

/* Landscape phones and down */
@media (max-width: 480px) {
    .sky1 {
        height: 276px;
    }

    .not-front .snail1_wrapper {
        margin-top: 80px;
    }

    .page-404 .txt1 {
        font-size: 120px;
        line-height: 120px;
    }

    .page-404 .txt2 {
        font-size: 40px;
        line-height: 40px;
    }

    .green1 {
        background-size: 25%;
    }

    .green2 {
        background-size: 40%;
    }

    .sun1 {
        background-size: 25%;
    }

}

.fancy {
    font-family: 'Finger Paint', fantasy;
    font-weight: bold;
}

.well p {
    color: darkslategray;
    border-color: #00a8ff;
    font: 16px 'Roboto', Arial, Helvetica, sans-serif;
    text-align: justify;
    line-height: 1.5;
    padding: 5px;
    border-radius: 3px;
}

hr.blue{
    border-top: 3px outset #00a8ff;
}

[v-cloak] {
    display: none;
}

